[Desktop Entry]
Type=Application
Name=Ike
Comment=Terminal IDE
Exec=ike-gui %u
Icon=ike
Terminal=false
Categories=Development;IDE;
StartupWMClass=ike
MimeType=x-scheme-handler/ike;
